.rw1{
    width: 100%;
    height: 300px;
    display: flex;
    background-color: #750A27;
    color: white;
    margin-top: 160px;
}
.u1{
    width: 20%;
}
.u2{
    width: 20%;
}
.u3{
    width: 30%;
}
.u4{
    width: 10%;
}
.u5{
    width: 20%;
}
.uu1 li{
    list-style-type: none;
    margin-top: 10px;
  
}
.uu1{
    margin-top: 100px;
    margin-left: 50px;
}
.u2 li{
    list-style-type: none;
    margin-top: 10px;
  
}
.u2{
    margin-top: 100px;
    margin-left: 60px;
}
.u3{
    margin-top: 100px;
    
}
.u4 li{
    list-style-type: none;
    margin-top: 10px;
  
}

.u4{
    margin-top: 100px;
    
}
.u5 li{
    list-style-type: none;
    margin-top: 10px;
  
}

.u5{
    margin-top: 100px;
     margin-left: 20px;
}
.o1{
    background-color: #750A27;
    height: 300px;

}
.o1 img{
    margin-top: 50px;
    margin-left: 100px;
}