.row {
    width: 100%;
    height: 500px;
    display: flex;
    overflow: hidden;
}

.col1 {
    width: 35%;
    background-color: hsl(346, 34%, 80%);
}

.col2 {
    width: 35%;
    background-color: #E799AA;
}

.col3 {
    width: 30%;
    background-color: aqua;
}

.col1 img {
    width: 480px;
    height: 500px;
}

.col2 p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    padding: 60px;
    margin-top: 60px;
}

.col2 button {
    width: 130px;
    height: 40px;
    color: white;
    background-color: #E799AA;
    border-color: aliceblue;
    margin-left: 150px;

}

.col3 img {
    width: 500px;
    margin-right: 80px;
    height: 500px;
    margin-left: -20px;
}

.home {
    text-align: center;
    color: #750A27;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 60px;

}


.row1 {
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 100px;

}

.c1 {
    width: 30%;


}

.c2 {
    width: 25%;

}

.c3 {
    width: 20%;

}

.c4 {
    width: 25%;
}

.card5 img {
    position: relative;
    left: 150px;
}



.card1 img {
    position: relative;
    left: 200px;
}

.g {
    margin-left: 150px;
}

.card-body1 h6 {
    margin-left: 150px;
}

.g1 {
    margin-left: 150px;
}

.card-body1 {
    margin-top: 40px;
}






.card2 img {
    position: relative;
    left: 50px;
}

.g3 {
    margin-left: 70px;
}

.card-body2 h6 {
    margin-left: 70px;
}

.g4 {
    margin-left: 70px;
}

.card-body2 {
    margin-top: 40px;
}




.card3 img {
    position: relative;
    left: 30px;
}

.g5 {
    margin-left: 40px;
}

.card-body3 h6 {
    margin-left: 40px;
}

.g6 {
    margin-left: 40px;
}

.card-body3 {
    margin-top: 40px;
}



.card4 img {
    position: relative;
    left: 50px;
}


.card-body3 {
    margin-top: 40px;
}


.stars {
    margin-left: 50px;
}

.starss {
    margin-left: 60px;
}





.home1 {
    width: 1300px;

    border: solid 0.5px #E799AA;
    margin-left: 20px;
}

.home2 {
    width: 1000px;
    height: 600px;
    background-color: #E799AA;
    margin-top: 180px;
    margin-left: 170px;

}

.home2 img {
    margin-left: 250px;
    margin-top: -100px;
}

.f1 {
    position: relative;
    top: -300px;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    margin-left: 180px;

}

.f2 {
    position: relative;
    top: -300px;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    margin-left: 350px;

}

.f3 {
    position: relative;
    top: -300px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    margin-left: 200px;

}

.f4 {
    position: relative;
    top: -300px;
    margin-left: 450px;
    height: 40px;
    border: white;

}

.home3 {
    margin-top: 150px;
    font-size: 30px;
    color: #750A27;
    text-align: center;
}

.row4 {
    width: 100%;
    height: 400px;
    display: flex;
}

.cc1 {
    width: 30%;

}

.cc2 {
    width: 20%;
}

.cc3 {
    width: 20%
}

.cc4 {
    width: 30%;
}

.cc1 img {
    margin: 30px;
    margin-left: 100px;
}

.cc2 img {
    margin: 30px;
    margin-left: 0px;

}

.cc3 img {
    margin: 30px;
    margin-left: 20px;
}

.cc4 img {
    margin: 30px;
    margin-left: 80px;
}

.home4 {
    color: #750A27;
    text-align: center;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.home4 ul {
    list-style-type: none;
    display: flex;

}

.home4 li {
    margin-left: 50px;

    position: relative;
    left: 470px;
    margin-top: 30px;
}


/* .circle {
  width: 150px;
  height: 150px;
  border: 4px solid #00bfff;
  border-radius: 50%;
  position: relative;
  animation: rotate-anticlockwise 4s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px; 
}


.circle span {
  font-size: 48px;
  font-weight: bold;
  color: #00bfff;
  font-family: Arial, sans-serif;
}


@keyframes rotate-anticlockwise {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.home6 {
    width: 100%;
    height: 700px;
    display: flex;

}

.co1 {
    width: 30%;

}

.co2 {
    width: 20%;
}

.col3 {
    width: 20%;
}

.co4 {
    width: 30%;
}

.co1 video {
    margin-left: 60px;
    margin-top: 100px;
}

.co2 video {
    margin-left: 20px;
    margin-top: 100px;
}

.co3 video {
    margin-left: 70px;
    margin-top: 100px;
}

.co4 video {
    margin-left: 20px;
    margin-top: 100px;
}

.home7 h3 {
    color: #750A27;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.row5 {
    width: 100%;
    height: 600px;
    display: flex;
}

.coo1 {
    width: 35%;

}

.coo2 {
    width: 30%;
}

.coo3 {
    width: 35%;
}

.y {
    font-size: 18px;
    padding: 40px 0px 0px 40px;
    margin-top: 40px;
    margin-left: 70px;
    font-weight: lighter;
}

.yy {
    font-size: 18px;
    padding: 40px 0px 0px 40px;
    margin-top: 40px;
    margin-left: 30px;
    font-weight: lighter;
}

.yyy {
    font-size: 18px;
    padding: 40px 0px 0px 50px;
    margin-top: 40px;
    margin-right: 40px;
    font-weight: lighter;
}

.h {
    margin-left: 110px;
}

.hh {
    margin-left: 70px;
}

.hhh {
    margin-left: 50px;
}

.starr {
    margin-left: 110px;
    color: #E799AA;
}

.starrr {
    margin-left: 70px;
    color: #E799AA;
}

.starrrr {
    margin-top: 30px;
    margin-left: 50px;
    color: #E799AA;
}

.l1 img {
    width: 40px;
    margin-left: 110px;
}

.l2 img {
    width: 40px;
    margin-left: 70px;
}

.l3 img {
    width: 40px;
    margin-left: 50px;
}

.car h5 {

    margin-left: 150px;
    font-size: 13px;
    margin-top: -270px;

}

.car1 h5 {

    margin-left: 120px;
    font-size: 13px;
    margin-top: -270px;

}

.car2 h5 {

    margin-left: 100px;
    font-size: 13px;
    margin-top: -270px;

}

.x {
    margin-left: 150px;
}

.xx {
    margin-left: 120px;
}

.xxx {
    margin-left: 100px;
}



.j {
    color: #750A27;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 60px;
    margin-left: 160px;
}

.j1 {
    color: #750A27;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 160px;

}
.j3{
    position: relative;
    left:1100px;
    top:-80px;
    border: none;
    background-color: #750A27;
    padding: 10px;
    width: 100px;
}
.homee1{
    width: 100%;
    height: 600px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.cd1{
    width: 35%;
 
   
}
.cd2{
    width: 30%;

}
.cd3{
    width: 35%;

}

.card111 img {
    position: relative;
    left: 20px;
}
.gg{
    margin-left: 20px;
}
.starss1{
    margin-left: 120px;
    text-decoration: underline;
    color:#750A27 ;
}
.gg1{
    margin-left: 20px;
    font-size: 17px;
    margin-top: 30px;
}
.card111{
    width: 350px;
    height: 550px;
    border: solid #750A27 1px;
    margin-left: 50px;
    padding: 40px 0px 30px 0px;
}
.card1111{
    width: 350px;
    height: 550px;
    border: solid #750A27 1px;
    margin-left:100px;

  
}
.gg3{
    margin-left: 20px;
}
.gg4{
    margin-left: 20px;
    font-size: 17px;
    margin-top: 30px;
}

.card01{
    width: 350px;
    height: 550px;
    border: solid #750A27 1px;
    margin-left: 90px;
    padding: 40px 0px 30px 0px;
  
}


.card01 img {
    position: relative;
    left: 20px;
}
.gg5{
    margin-left: 20px;
}
.gg6{
    margin-left: 20px;
    font-size: 17px;
    margin-top: 30px;
}

.starsss1{
    margin-left: 120px;
    text-decoration: underline;
    color:#750A27 ;
}