.nav1 {
    width: 1365px;
    height: 50px;
    background-color: #E799AA;
    overflow: hidden;
}

.nav1 p {
    color: white;
   padding: 10px;
}
.navbar-brand{
    padding-left: 30px;
}
.navbar-nav{
    margin-left: 100px;
    font-size: 18px;
    
}
.nav2{
    padding: 20px;
    position: sticky;
    top:0px;
}
.d{
    margin-right: 50px;
}
.ppp{
    margin-right: 90px;
}