/* .re1 {
    width: 100%;
    height: 500px;
    display: flex;

}

.vc1 {
    width: 35%;

}

.vc2 {
    width: 30%;
}

.vc3 {
    width: 30%;
}

.vc4 {
    width: 35%;
}

.fj {
    width: 300px;
    height: 300px;
    border: solid 1px rgb(17, 16, 16);
    margin-top: 150px;
    padding: 50px;
    margin-left: 80px;
    
}


.fj img {
    position: relative;
    left: 40px;

   
}

.fj3 {
    width: 300px;
    height: 300px;
    border: solid 1px rgb(17, 16, 16);
    margin-top: 150px;
    padding: 50px;
    margin-left: 10px;
    
}


.fj3 img {
    position: relative;
    left: 40px;

   
}

.fj4 {
    width: 300px;
    height: 300px;
    border: solid 1px rgb(17, 16, 16);
    margin-top: 150px;
    padding: 50px;
    margin-left: 10px;
    
}


.fj4 img {
    position: relative;
    left: 40px;

   
}

.fj5 {
    width: 300px;
    height: 300px;
    border: solid 1px rgb(17, 16, 16);
    margin-top: 150px;
    padding: 50px;
    margin-left: 10px;
    
}


.fj5 img {
    position: relative;
    left: 40px;

   
}


.e {
    margin-left: -50px;
    margin-top: 60px;
    color: #750A27;
}

.fj2 h6 {
    margin-left: -50px;
}

.e2 {
    margin-left: -50px;
}

.card-body1 {
    margin-top: 40px;
}

.e3 {
    margin-left: 120px;
}
.ru{
    text-align: center;
    color: #750A27;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 60px;
} */


.box {
    width: 300px;
    height: 300px;
    border: solid 1px rgb(17, 16, 16);

    padding-top: 30px;

    margin-left: 35px;
    margin-top: 50px;

}

.box img {
    margin-left: 100px;
}

.e3 {
    padding-left: 150px;
}

.col {
    display: flex;
    flex-wrap: wrap;

    /* gap: 20px; */
    /* justify-content: center; */
    /* optional: center boxes */
}

.pa {
    margin-left: 40px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 50px;
}

button {
    width: 100px;
    height: 20px;
    font-size: 9px;
    margin-top: -60px;
    margin-left: 100px;

}